body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
  }

  @font-face {
    font-family: Beyno;
    src: url(./Fonts/BEYNO/BEYNO.ttf);
  } 

  @font-face {
    font-family: OuterSans1;
    src: url(./Fonts/made_outer_sans/MADE\ Outer\ Sans\ Regular\ PERSONAL\ USE.otf);
  }

  @font-face {
    font-family: OuterSans2;
    src: url(./Fonts/made_outer_sans/MADE\ Outer\ Sans\ Medium\ PERSONAL\ USE.otf);
  }

  @font-face {
    font-family: OuterSans3;
    src: url(./Fonts/made_outer_sans/MADE\ Outer\ Sans\ Black\ PERSONAL\ USE.otf);
  }

  @font-face {
    font-family: OuterSans4;
    src: url(./Fonts/made_outer_sans/MADE\ Outer\ Sans\ Bold\ PERSONAL\ USE.otf);
  }

  

/*----------------------Home Page-----------------------*/
.home_page {
    background-image: url(./imgs/jo__ps5_joypad_photorealistic_at_90_degrees_oozing_oil_from_the_428e8dc4-099e-4d4c-a715-756de6bb09e5.png);
    background-size:cover;
    background-repeat: no-repeat;
    position: relative; 
    box-sizing: border-box;
    height: 100vh;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgba(27, 28, 29, 0.7);
    height: 100px;
}

.word_logo {
  margin: auto;
}

.word_logo img {
    width: 200px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           
}

.nav-links {
    margin: auto;
    list-style-type: none;
    display: flex; 
}

.nav-links li {
    padding: 40px;
}

.nav-links li a {
    text-decoration: none;
    color: #fff;
    font-family: OuterSans1;
}

.nav-links li img {
    width: 70px;
}

.nav-links li a:hover {
    color: #CD4C0E;
}

.sign_logo {
    margin: auto;
}

.sign_logo img {
    width: 40px;
}

.home_page_top_content {
    display: flex;
    justify-content: space-between;
    font-family: OuterSans2;
    margin-top: 60px;
}

.home_page_top_content p {
  margin-left: 100px;
}

.home_page_social_media_handles {
    display: flex;
    flex-direction: column;
}

.home_page_media_handle {
  font-family: OuterSans2;
  color: #FDF8ED;
  background-color: rgba(27, 28, 29, 0.7);
  border: none;
  margin-bottom: 6px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding-left: 20px;
}

.home_page_middle_content {
    font-family: OuterSans1;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 100px;
    margin-right: 150px;
}

.carousel {
    /*background-color: rgba(39, 40, 41, 0.7);*/
    width: 20%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    text-align: center;
}
  
.swiper {
    width: 80%;
    height: fit-content;
}

.swiper-slide img {
    width: 100%;
    height: 20vh;
}

.swiper .swiper-button-prev , .swiper .swiper-button-next {
    color: #fff;
}

.swiper .swiper-pagination-bullet-active {
    background: #fff;
}

.carousel_visit_btn {
    font-family: OuterSans1;
    background-color: rgba(27, 28, 29, 0.7);
    color: #FDF8ED;
    border-radius: 20px;
    border: none;
    font-size: 12px; 
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
}

.game_site_header {
    text-align: center;
    font-family: Beyno;
    font-size: 40px;
    margin-top: 100px;
}

/*_____________________________________________________*/



/*--------------------Games Site Page-----------------------*/
.game_site_page {
  background-image: url(./imgs/jo__ps5_joypad_photorealistic_at_90_degrees_oozing_oil_from_the_f326520b-09e8-4b72-b521-6164c236d48a.png);
  background-size:cover;
  background-repeat: no-repeat;
  position: relative; 
  height: 100vh;
}

.game_site_top_content {
    display: flex;
    justify-content: space-between;
}

.left_paragraph {
  font-family: OuterSans2;
  margin-left: 100px;
}

.right_carousel {
  margin-right: 100px;
}

.right_carousel_subheading {
  font-family: OuterSans3;
  font-size: 12px;
}

.carousel-element {
    text-align: center;
    border-radius: 30px;
    padding: 40px;
    margin-top: 160px;
  }
  
  .wrapper .outer{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .wrapper .card{
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 95px;
    padding-bottom: 55px;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    justify-content: space-between;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
    animation: animate 15s linear infinite;
    animation-delay: calc(3s * var(--delay));
  }
  
  .outer:hover .card{
    animation-play-state: paused;
  }
  .wrapper .card:last-child{
    animation-delay: calc(-3s * var(--delay));
  }
  @keyframes animate {
    0%{
      opacity: 0;
      transform: translateY(100%) scale(0.5);
    }
    5%, 20%{
      opacity: 0.4;
      transform: translateY(100%) scale(0.7);
    }
    25%, 40%{
      opacity: 1;
      pointer-events: auto;
      transform: translateY(0%) scale(1);
    }
    45%, 60%{
      opacity: 0.4;
      transform: translateY(-100%) scale(0.7);
    }
    65%, 100%{
      opacity: 0;
      transform: translateY(-100%) scale(0.5);
    }
  }
  .card .content{
    display: flex;
    align-items: center;
  }
  .wrapper .card .img{
    height: 20vh;
    width: 140%;
    position: absolute;
    left: -15px;
    border-radius: 20%;
    border-color: #CD4C0E;
    padding: 5px;
  }
  .card .img img{
    height: 100%;
    width: 100%;
    border-radius: 20%;
    object-fit: cover;
  }
  .card .details{
    margin-left: 80px;
  }

  .game_site_page_carousel_book_button {
    margin-top: 200px;
  }

  .carousel_book_btn {
    font-family: OuterSans1;
    background-color: rgba(27, 28, 29, 0.7);
    color: #FDF8ED;
    border-radius: 20px;
    border: none;
    font-size: 12px; 
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .game_site_address_info {
    display: flex;
    background-color: rgba(128, 62, 44, 0.7);
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    padding-top: 4px;
    width: 180px;
    margin-top: -4%;
  }

  .game_site_address_info img {
    width: 50px;
    height: 50px;
  }

  .game_site_middle_paragraphs {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: OuterSans2;
    font-size: 16px;
    margin-top: 50px;
  }

  .game_site_middle_paragraphs .p2 {
    color: #D7914B;
  }
/*_____________________________________________________*/



/*--------------------About Us Page-----------------------*/
.about_us_page {
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: space-around;
}

.about_us_left_flexed_content {
    display: flex;
    flex-direction: column;
}

.about_us_right_top_content .carousel {
    width: 40%;
}

/*_____________________________________________________*/



/*--------------------About Us Page-----------------------*/
.contact_page {
    background-color: black;
    height: 100vh;
}

.contact_page_header {
    text-align: center;
}

.contact_page_content {
    display: flex;
    justify-content: space-between;
}

.contact_form {
    display: flex;
    flex-direction: row;
}

.contact-form form {
    display: grid;
    gap: 10px;
}

.contact_page_social_media_link_handles {
    display: flex;
    flex-direction: column;
}

.contact_page_address {
    display: flex;
}

.footer-bottom {
    text-align: right;
    margin-top: 30px;
    margin-top: 110px;
    padding-right: 20px;
}
