body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
  }


/*-----------Home Page-------------*/
.home_page {
    background-color: black;
    height: 100hv;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.word_logo {
    margin: auto;
}

.word_logo a {
    font-weight: bold;
    font-size: 28px;
    text-decoration: none;
    color: #fff;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         
}

.nav-links {
    margin: auto;
    list-style-type: none;
    display: flex; 
}

.nav-links li {
    padding: 40px;
}

.nav-links li a {
    text-decoration: none;
    color: #fff;
}

.nav-links li img {
    width: 70px;
}

.nav-links li a:hover {
    color: #CD4C0E;
}

.sign_logo {
    margin: auto;
}

.sign_logo img {
    width: 40px;
}

.home_page_top_content {
    display: flex;
    justify-content: space-between;
}

.home_page_social_media_handles {
    display: flex;
    flex-direction: column;
}

.home_page_middle_content {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.carousel {
    /*background-color: rgba(39, 40, 41, 0.7);*/
    width: 20%;
    height: 30vh;
    display: flex;
    flex-direction: row;
  }
  
  .swiper {
    width: 80%;
    height: fit-content;
  }
  
  .swiper-slide img {
    width: 100%;
    height: 20vh;
  }
  
  .swiper .swiper-button-prev , .swiper .swiper-button-next {
    color: #fff;
  }
  
  .swiper .swiper-pagination-bullet-active {
    background: #fff;
  }

  .carousel_visit_btn {
    background-color: #AB420F;
    border-radius: 20px;
    border: none;
    font-size: 18px;
  }

  .game_site_header {
    text-align: center;
  }